body{
	background-image: url(mix.jpg);
	text-align: center;
	font-family: algerian;
	color: black;
}
.M{
	color: white;
	font-family: georgia;
}
.Z{
	color: ;
	font-family: Algerian;
	width: 150px;
	height: 200px;
	color: white;
}
.T{
	color: #8B0000;
}
.J{
	width: 150px;
	height: 150px;
}
.R{
	width: 150px;
	height: 150px;
}